@model IEnumerable<TPPweb2122.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Cliente"))
{
    <a class="btn btn-primary" asp-controller="Reservas" asp-action="Create">Reservar</a>
    <a class="btn btn-primary" asp-controller="Reservas" asp-action="Historico">Historico</a>
    
}
 <h1>Reservas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imovel.NomeAlojamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmacao)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.ReservaId">Edit</a> |
                <a asp-action="Detalhes" asp-route-id="@item.ReservaId">Details</a> |
                <a asp-action="Apagar" asp-route-id="@item.ReservaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
