@model TPPweb2122.ViewModels.HistoricoViewModelo
@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Index";
    var dados = (IPagedList)Model.Avaliacoes;
}
<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container-fluid w-75 p-3 rounded" style="background-color:white">
<h1>Avaliações</h1>

<p>
   @*<a class = "btn btn-primary" asp-action="Create">Criar Avaliação</a>*@ 
</p>
<div class="m-2 table-responsive">

    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
               Pontuação
            </th>
            <th>
                Comentário
            </th>
            <th>
                Imóvel
            </th>
            <th>
               Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Avaliacoes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PontuacaoAvaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoAvaliacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imovel.NomeAlojamento)
            </td>
            
            <td>
                
                <a class="btn btn-info"asp-action="Details" asp-route-id="@item.AvaliacaoId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AvaliacaoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
 <div>
        @(Html.Pager(dados)
        .Url(page => Url.Action("Index", new { page = page }))
        .DisplayLinkToFirstPage(PagedListDisplayMode.IfNeeded)
        .DisplayLinkToLastPage(PagedListDisplayMode.IfNeeded)
        .Build())
    </div>
</div>

</div>
